body {
	font: 20px Arial, sans-serif;
}

.navbar {
	background-color: #F28A2E;
}

.quem-somos {
	background-color: #4AD9B0;
	color: white;
}

.margin {
	padding-bottom: 50px;
	padding-top: 10px;
}

.parceiros {
	background-color: #ADDCCF;
	color: white;
}

footer {
	text-align: center;
	padding: 5px;
	color: black;
	margin-top: 30px;
  }
  
  footer i {
	margin: 2px 2px;
	font-size: 35px;
	color: black;
  }